#####################################################################
#   Connected Controller Boards
#####################################################################
##  Obtain exact address with "ls -l /dev/serial/by-id/" then unplug to verify

##  MCU for X, Y, Z, C and Extruder 1 & 2
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_260045000F5053424E363620-if00

##  MCU for extra tools: Extruder 3 & 4
[mcu tools]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_240050000F51383438343939-if00

# include pin aliases for both boards
[include btt-octopus-pins.cfg]

# enable response commands
[respond]

#####################################################################
#   Printer Setup
#####################################################################

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 4000             # may need these raised for calibration
max_accel_to_decel: 4000
max_z_velocity: 25
max_z_accel: 500
square_corner_velocity: 5.0

[idle_timeout]
timeout: 3600   # 1 hour: shut off heaters and de-energize the motors

#####################################################################
#   X/Y Stepper Settings
#####################################################################

#  Stepper X
#############
[stepper_x]
step_pin: MOT0_STEP
dir_pin: MOT0_DIR
enable_pin: !MOT0_EN
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ESTOP0
position_min: -13
position_endstop: -13
position_max: 425
homing_speed: 25
second_homing_speed: 5
homing_retract_dist: 5

##  TMC 2209 Driver for A Motor
[tmc2209 stepper_x]
uart_pin: MOT0_CS
run_current: 0.8
stealthchop_threshold: 60


#  Stepper Y
#############
[stepper_y]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ESTOP1
position_min: -53
position_endstop: -53
position_max: 310
homing_speed: 25 
second_homing_speed: 5
homing_retract_dist: 5

##  TMC 2209 Driver for B Motor
[tmc2209 stepper_y]
uart_pin: MOT1_CS
run_current: 0.8
stealthchop_threshold: 60


#  Stepper Z
#############
[stepper_z]
step_pin: MOT7_STEP
dir_pin: !MOT7_DIR
enable_pin: !MOT7_EN
rotation_distance: 4
gear_ratio: 36:17
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ESTOP2
position_min: 0
position_endstop: 0
position_max: 255
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 5

##  TMC 2209 Driver for B Motor
[tmc2209 stepper_z]
uart_pin: MOT7_CS
interpolate: True
run_current: 1.0
stealthchop_threshold: 1

#  Stepper C
#############
[manual_stepper stepper_coupler]
microsteps: 16
step_pin: MOT2_STEP
dir_pin: !MOT2_DIR
enable_pin: !MOT2_EN
rotation_distance: 40
full_steps_per_rotation: 200
endstop_pin: ESTOP3
homing_speed: 5
second_homing_speed: 5
homing_retract_dist: 0

##  TMC 2209 Driver for B Motor
[tmc2209 manual_stepper stepper_coupler]
uart_pin: MOT2_CS
interpolate: False
run_current: 0.4
hold_current: 0.1  # enable hold current on the coupler motor as it is immobile most of the time

[gcode_button coupler_locked]
pin: ESTOP4
press_gcode:
    M118 "Coupler In Locked Position"

#####################################################################
#   Heated Bed
#####################################################################

[heater_bed]
heater_pin: BED_OUT
sensor_type: Generic 3950
sensor_pin: tools:TB
##  Adjust Max Power so your heater doesn't warp your bed
pwm_cycle_time: 0.017
max_power: 0.7
min_temp: 0
max_temp: 120
control: pid
pid_Kp=42.066
pid_Ki=1.659
pid_Kd=266.595

[temperature_sensor top_bed]
gcode_id: TB
sensor_type: Generic 3950
sensor_pin: tools:T0
min_temp: 0
max_temp: 120
